cryptography==3.4.7
dnspython==2.1.0
passlib~=1.7.4
pymongo~=3.11.4
PyJWT==1.7.1
sanic~=21.3.4
sanic-motor~=0.6.0
sanic-routing~=0.6.2
sanic-testing~=0.4.0
user_agents>=1.1.0
motor>=1.1
sanic-mongo==1.5.5